:root {
    --bs-body-color: #{$dark};
    --bs-secondary-bg: #{$gray-100};
    --bs-border-color: #{$gray-200};
    --bs-icon-bg: #{$white};
    --bs-lightan: #{$bg-gradient};
    --bs-footer-bg: #272a33;
    --bs-footer-alt-bg: #2e313a;
    --bs-border-bottom-color:#ecf0f5;
    --bs-switcher-bg: #{$gray-800};
}