[data-bs-theme="dark"] {
    --bs-body-color: #{$gray-200};
    --bs-body-bg: #{$gray-900};
    --bs-secondary-bg: #232d34;
    --bs-border-color: #{$gray-700};
    --bs-icon-bg: #{$gray-900};
    --bs-footer-bg: #{$gray-900};
    --bs-border-bottom-color: #252d35;
    --bs-switcher-bg: #{$gray-800};
}
